* {
    padding: 0;
    margin: 0;
    border: none;
}
#drag0-w {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    background: #aaa;
}
#drag0-e {
    position: absolute;
    left: 100px;
    top: 0;
    right: 0;
    height: 100vh;
    background: #ccc;
}
#drag0 {
    position: absolute;
    left: 100px;
    top: 0;
    width: 8px;
    height: 100vh;
    background: none;
    cursor: ew-resize;
    z-index: 999;
}
#drag0-in {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 2px;
    background: lightseagreen;
    cursor: ew-resize;
    z-index: 998;
}
iframe {
    pointer-events: none;
}
